
@{
    ViewData["Title"] = "404";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}
<div class="text-center">
    <div class="row  my-1 mt-5">
        <div class="col-md-12 ">
            <div>
                <div class="display-4">
                    @ViewBag.Code
                </div>
                @ViewBag.Message
            </div>
        </div>
    </div>
  
</div>